* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .Presentation,
  .Conseil ,
  .Projets,
  .Forget,
  .Password,
  .Inscrivez
  .User{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

.conseil {
   /*background-image: url('/images/img-2.jpg');*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    font-size: 100px;
  }
  
.Presentation {
   /*background-image: url('/images/img-1.jpg');*/
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    font-size: 100px;
  }
  
.projets {
    /*background-image: url('/images/img-8.jpg');*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    font-size: 100px;
  }

 .inscrivez {
  /*  background-image: url('/images/img-8.jpg');*/
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     color: rgb(0, 0, 0);
     font-size: 100px;
   } 
   .forget{
    /*background-image: url('/images/img-8.jpg');*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    font-size: 100px;

 }
   
  .password{
     /*background-image: url('/images/img-8.jpg');*/
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     color: rgb(0, 0, 0);
     font-size: 100px;

  }
  .user{
    /*background-image: url('/images/img-8.jpg');*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    font-size: 100px;

 }

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  