* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .Presentation,
  .Conseil ,
  .Projets,
  .Forget,
  .Password,
  .Inscrivez
  .User{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

.conseil {
   /*background-image: url('/images/img-2.jpg');*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    font-size: 100px;
  }
  
.Presentation {
   /*background-image: url('/images/img-1.jpg');*/
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    font-size: 100px;
  }
  
.Projets {
    background-image: url('../public/images/logoM.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
   
  }

 .inscrivez {
  /*  background-image: url('/images/img-8.jpg');*/
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     color: rgb(0, 0, 0);
     font-size: 100px;
   } 
   .forget{
    /*background-image: url('/images/img-8.jpg');*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    font-size: 100px;

 }
   
  .password{
     /*background-image: url('/images/img-8.jpg');*/
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     color: rgb(0, 0, 0);
     font-size: 100px;

  }
  .user{
    /*background-image: url('/images/img-8.jpg');*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    font-size: 100px;

 }

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
.header{
  
  height: 200px;
  width: 100%;

}

.card-container{
  height: 300px;
  width: 300px;
  box-shadow: 0px 3px 50px #aeaeae;
}

.card-wrapper{
  width: 320px; 
  height: 200px; 
  box-shadow: 0px 3px 50px #aeaeae;
  display: flex;
  flex-direction: column;
  margin-right: 17px;
}

.card-top{
  width: 100%;
  height: 2%;
}

.task-holder{
  width: 100%;
  height: 98%;
  padding: 15px 20px;
  display : flex;
  flex-direction: column;
  position: relative;
}

.card-header{
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 80px;
  height: 30px;
  padding: 1px 1px !important;
  text-align: center;
}

.task-container{
  height: 625px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
  padding : 40px 100px;
}

.dropdown{
  position: absolute;
  top: 9rem;
  right: 2rem;
  width: 185px;
  padding: 15px;
  border-radius: 17px;
  background-color: white;
  border: 1px solid gray;

}
.dropdown::before{
  content: '';
  position: absolute;
  top: -0.9rem;
  right: 1.5rem;
  width: 25.5px;
  height: 26px;
  transform: rotate(45deg);
  background-color: white;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}

.logo{
 height: 70px; 
  width: 70px; 
  border: #A5A5A5;
  cursor: pointer;

}
.fes{

   
  display: flex ;
  justify-content:center;
 
}
.tet{
  margin-top: 85px;
 
  background-color: rgb(255, 255, 255);
  
  width: 130px;
  height: 100px;
 box-shadow:gray;

  
}